name: ci
on:
  workflow_dispatch:
  push:
jobs:
  build:
    permissions:
      contents: write
      id-token: write
      statuses: write
    env:
      CI: "true"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - name: Format
        run: |
          treefmt --ci
      - name: Clippy
        run: |
          cargo clippy --all --lib --tests -- -D warnings
      - name: Test
        run: |
          cargo test
      - run: npm ci
      - run: npm run check
      - name: E2E Test
        run: |
          just test
        working-directory: ./webschembly-js
      - name: E2E Benchmark
        run: |
          just benchmark
        working-directory: ./webschembly-js
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          tool: "benchmarkjs"
          output-file-path: ./webschembly-js/benchmark.result
          gh-pages-branch: github-action-benchmark-data
          auto-push: false
      - name: Push benchmark result
        run: git push origin github-action-benchmark-data:github-action-benchmark-data
        if: github.ref == 'refs/heads/master'
      - name: Build Playground
        run: |
          nix build .#webschembly-playground-for-pages --out-link result-playground
      - name: Prepare pages
        run: |
          mkdir -p pages
          cp -r result-playground/* pages/
          git archive github-action-benchmark-data | tar -x -C pages
      - name: Upload Playground
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./pages
      - name: Build cli
        run: |
          nix build .#webschembly-compiler-cli --out-link result-cli
      - name: Build runtime
        run: |
          nix build .#webschembly-runtime --out-link result-runtime
      - uses: actions/upload-artifact@v4
        with:
          name: cli
          path: result-cli-bin/bin/webschembly-compiler-cli
      - uses: actions/upload-artifact@v4
        with:
          name: runtime
          path: result-runtime/lib/webschembly_runtime.wasm
  deploy:
    needs: build
    if: github.ref == 'refs/heads/master'
    permissions:
      id-token: write
      pages: write
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
